{#
/**
 * @file
 * Theme for a weKnow Hello weather block.
 *
 * Available variables:
 * - location: The location of the weather.
 * - temperature: The temperature of the weather.
 * - weather_icon: The weather icon.
 * - weather_description: The weather description.
 * - wind: The wind speed.
 * - wind_direction: The wind direction.
 * - humidity: The humidity.
 * - precipitation: Precipitation ammount.
 * - icon: The weather image url.
 */
#}

{{ attach_library('wk_hello/weather') }}

<div id="weather_wrapper">
	<div class="weatherCard">
		<div class="currentTemp">
			<span class="temp">{{ temperature }}&deg;</span>
			<span class="location">{{ location }}</span>
		</div>
		<div class="currentWeather">
			<span class="conditions"><img alt="{{ condition }}" src="{{ icon }}" /></span>
			<div class="info">
				<span class="rain">{{ precipitation }} mm</span>
				<span class="wind">{{ wind }} km/h</span>
			</div>
		</div>
	</div>
</div>
